{
    "presets": [
        ["es2015", { "loose": true }],
        "stage-2",
        "react"
    ],
    "plugins": [
        "dynamic-import-node",
        "transform-decorators-legacy",
        "transform-class-properties",
        "react-hot-loader/babel"
    ]
}